<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <button class="btn btn-primary btn-xs">
        Generar
      </button>
    </div>
    <h4 class="panel-title">Partidos</h4>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Fecha 1</div>
      <table class="table">
        <thead>
          <tr>
            <th>Team A</th>
            <th>Team B</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Mark</td>
            <td>0 - 0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
