<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/tournam-image.svg" class="logo">
      </a>
      <span class="navbar-brand">Generador de grupos</span>
    </div>
    <div class="navbar-form navbar-center">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Equipo" #name>
      </div>
      <button type="button" (click)="AddTeam(name.value)" class="btn btn-default">Agregar</button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <team-list [teams]="teams" (delete)="onDelete($event)"></team-list>
  </div>
</div>
