<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/tournam-image.svg" class="logo">
      </a>
      <span class="navbar-brand">Generador de grupos</span>
    </div>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Equipo">
      </div>
      <button type="submit" class="btn btn-default">Agregar</button>
    </form>
  </div>
</nav>
